<section class="container">

  <section class="row">
    <section class="twelve columns legal">
      <p>Das Projekt verfolgt keinerlei kommerzielle Zwecke.</p>
      <p>Der <a href="https://github.com/dnsos/ritasgeschichte" target="_blank">Quellcode</a> dieser Website ist verfügbar unter der <a href="https://github.com/dnsos/ritasgeschichte/blob/gh-pages/LICENSE" target="_blank">MIT Lizenz</a>.</p>
      <p>Inhalte, insbesondere Texte und Illustrationen, sind verfügbar unter der Creative Commons Lizenz: <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/de/" target="_blank">CC-BY-NC-SA</a>.</p>
      <p>Stand: Oktober 2017</p>
    </section>
  </section>

</section>
