<section class="container">

  <section class="row">
    <section class="twelve columns legal">
      <p>{{site.data.languages.locales[page.lang].non-commercial}}</p>
      <p>{{site.data.languages.locales[page.lang].source-code}} <a href="https://github.com/dnsos/ritasgeschichte" target="_blank">GitHub</a>.</p>
      <p>{{site.data.languages.locales[page.lang].content}} <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">CC-BY-NC-SA</a>.</p>
      <p>{{site.data.languages.locales[page.lang].stand}}</p>
    </section>
  </section>

</section>
