header {
  display: inline;

  img.red-star {
    width: 24px;
    margin: 3rem;
  }

}

@media (min-width: 750px) {
  header {
    position: fixed;
    width: auto;
    background-color: white;
    z-index: 3;
  }

}
