header {
  display: inline-block;
  position: relative;

  ul {
    list-style: none;
    padding: 3rem;

    li {
      position: relative;
      display: inline-block;
      margin-right: 1rem;

      a {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

  img.red-star {
    width: 24px;
    transform: translateY(.4rem);
  }

}

@media (min-width: 750px) {
  header {
    position: fixed;
    width: auto;
    background-color: white;
    z-index: 3;
  }

}
