header {
  position: fixed;

  ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 3rem;

    li {
      display: inline;

      p {
        margin-bottom: 0;
      }

    }

  }

  img.red-star {
    width: auto;
    height: 24px;
    margin-right: 1rem;
    transform: translateY(.4rem);
  }

}
