#home, #about {
  height: 100vh;
}

#home {

  h1 {
    text-transform: uppercase;
    line-height: 0.5;
    margin-top: 4rem;
  }

  h2 {
    color: $primaryColor;
    font-weight: 400;
  }

  img.rita-title {
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
  }

  @media (max-width: 750px) {
    img.rita-title {
      margin-top: 2.5rem;
    }
  }
}

#about {
  padding-top: 0rem;

  .legal {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top: $border $primaryColor;
    font-size: $smallFont;
  }

  a {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 750px) {
  #about {
    padding-top: 8rem;
  }
}
