<!DOCTYPE html>
<html lang="{{page.lang}}">
  <head>
    <meta charset="utf-8">
    <title>{% if page.counter %}{{page.counter}}{% endif %} {% if page.title %}{{page.title}} | {% endif %}RITA - Die Geschichte einer Ei-Arbeiterin</title>

    <meta name="description" content="{{page.excerpt}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="RITA">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  </head>
  <body>

    <header>
      {% include header.html %}
    </header>

    <main class="container">
      {{content}}
    </main>

    <footer>
      {% include footer.html %}
    </footer>

  </body>
</html>
